<div class="navigation wf-section">
    <div class="menu-slide-out">
      <div class="close-icon">
        <a data-w-id="881be76b-3c74-6efb-4b08-79c4ef0c83f2" href="{{ links.23 }}" class="link-block w-inline-block"><img src="{{ images.241ffa94.url }}" loading="lazy" alt="{{ images.241ffa94.alt | trim | escape }}"></a>
      </div>
      <div class="menu-container">
        <div class="spacer"></div>
        <a href="{{ links.2f }}" aria-current="page" class="menu-link w-inline-block w--current">
          <h1 class="white">{{ texts.2268ff }}</h1>
        </a>
        <a href="{{ links.-2f68657 }}" class="menu-link w-inline-block">
          <h1 class="white">{{ texts.-37ac8366 }}</h1>
        </a>
        <a href="{{ links.-66ead1f3 }}" class="menu-link w-inline-block">
          <h1 class="white">{{ texts.645f0031 }}</h1>
        </a>
        <a href="{{ links.5e5270da }}" class="menu-link w-inline-block">
          <h1 class="white">{{ texts.-64104400 }}</h1>
        </a>
      </div>
    </div>
    <div class="container flex">
      <a data-w-id="881be76b-3c74-6efb-4b08-79c4ef0c8403" href="{{ links.23 }}" class="hamburger-menu w-inline-block">
        <div class="menu-line-top"></div>
        <div class="menu-line-middle"></div>
        <div class="menu-line-bottom"></div>
      </a>
      <a href="{{ links.2f }}" aria-current="page" class="w-inline-block w--current"><img src="{{ images.-7fe85cc3.url }}" loading="lazy" alt="{{ images.-7fe85cc3.alt | trim | escape }}" class="image-4"></a>
    </div>
  </div>